[user]
	name = MohammadLashkari
	email = moe.lashkari@gmail.com
[core]
	editor = nvim
[alias]
	dog = log --all --decorate --oneline --graph --abbrev-commit --format=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
[credential]
	helper = store
