set editing-mode vi
set show-mode-in-prompt off

set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-ignore-case on
set menu-complete-display-prefix on
set colored-completion-prefix on
set colored-stats on
set visible-stats on
set bell-style none
"\t": menu-complete
"\e[Z": menu-complete-backward

set keymap vi-command
"k": history-search-backward
"j": history-search-forward
